<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <section>
    <div class="form-box">
      <div class="form-value">
        <form action="">
          <h2>TEMA</h2>
          <div class="inputbox">
            <div class="questao"></div>
            <button class="opcao"></button>
            <button class="opcao"></button>
            <button class="opcao"></button>
            <button class="opcao"></button>
            <button class="opcao"></button>
          <button class="btn-confirma">Confirmar Questão</button>
        </form>
      </div>
    </div>
  </section>


</body>
</html>